@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Secular+One&display=swap');

/* CSS code */

:root {
    --primary-color: #16a16b;
}

body {
    background-color: var(--primary-color);
    /* font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal; */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 380px;
}

.conteudo .nome-personagem {
    background-color: var(--primary-color);
    color: #ffffff;
}

/*
https://www.youtube.com/watch?v=0dv6bgVvh5c
notas:
 dimenssões das imagens:
 imagem grande: 1920 x 1080
 imagem pequena: 375 x 812
*/